button {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
.btn {
	text-transform: uppercase;

	@include box-size();
	@include btnColors($colorPrimary, $colorLight); // -- base button color, font color
	@include btnStructure(1.1em, auto, 1.2em, 4px); // -- padding, width, font-size, border-radius

	&.notice {
		@include btnColors($colorNotice);
	}
	&.error {
		@include btnColors($colorError);
	}
	&.info {
		@include btnColors($colorInfo);
	}
	&.success {
		@include btnColors($colorSuccess);
	}
	&.dark {
		@include btnColors($colorDark, $colorLight);
	}
	&.light {
		@include btnColors($colorLight, $colorDark);
	}

	&.sm {
		@include btnStructure(.6em .6em .5em, auto, 1.3em, 2px);
	}
	&.lg {
		@include btnStructure(1.4em 1.6em, auto, 1.6em, 5px);
	}
}

.navBtn {
	position: fixed;
	top: 10px;
	width: 30px;
	padding: 7px 6px;
	border: 1px solid black(.2);
	background-color: #fefefe;
	@include border-radius(3px);
	// @include gradient(#fefefe, #e5e5e5);
	@include box-size();
}
#btnNav {
	left: 15px;
	.horizBar {
		display: block;
		width: 100%;
		margin: 3px 0;
		height: 3px;
		background-color: black(.2);

		@include box-emboss();
	}
}
#btnSettings {
	right: 15px;
	padding: 8px 6px;
	background-image: url('/public/img/icon-settings-sm.png');
	background-position: center center;
	background-repeat: no-repeat;
	@include hideText();
}