button {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
.btn {
	text-transform: uppercase;

	@include box-size();
	@include btnColors($colorPrimary, $colorLight); // -- base button color, font color
	@include btnStructure(1.1em, auto, 1.2em, 3px); // -- padding, width, font-size, border-radius

	&.notice {
		@include btnColors($colorNotice);
	}
	&.error {
		@include btnColors($colorError);
	}
	&.info {
		@include btnColors($colorInfo);
	}
	&.success {
		@include btnColors($colorSuccess);
	}
	&.dark {
		@include btnColors($colorDark, $colorLight);
	}
	&.light {
		@include btnColors($colorLight, $colorDark);
	}

	&.sm {
		@include btnStructure(.6em .6em .5em, auto, 1.3em, 2px);
	}
	&.lg {
		@include btnStructure(1.4em 1.6em, auto, 1.6em);
	}
}