form {
	fieldset {
		padding: 10px 0;
	}
	label {
		display: block;
		margin-top: 4px 0;
		font-size: 14px;
	}
	input {
		margin: 0;
		padding: .8em;
		font-size: 1.2em;
		border: 1px solid #DBDDDC;
		width: 100%;
	    color: #787878;
	    background-color: #ffffff;
		@include border-radius(5px);
		@include box-size();
		@include box-shadow(0, 0, 0, 0, #ffffff, inset);

		&[type=email] {
			
		}
		&[type=password] {
			
		}
		&[type=email] {
			
		}
		&[type=submit] {
			@extend .btn;
			cursor: pointer;
			font-size: 12px;
		}
		&.sm {
			padding: .6em;
		}
		&.med {
			padding: .9em;
			font-size: 1.4em;
		}
		&.lg {
			padding: 1.1em 1em;
			font-size: 1.7em;
			@include border-radius(30px);
		}
	}
	textarea {
		margin-top: 3px 0;
		padding: 6px;
		font-size: 12px;
		line-height: 1.2;
		border: 1px solid #c6c6c6;
		width: 96%;
	}
	select {
		margin: 7px 0;
		padding: 4em;
		font-size: 1.8em;
		width: 100%;
	}
}