/* COLORS	================================================================== */
$colorPrimary: #98b3cd;
$colorLight: #fdfdfd;
$colorDark: #021721;

/*
	TEST THES GREYS

	FAFCFB - light 
	DBDDDC - border dark
	E9EBEA - separator light
	FFFFFF - duh
	949DA6 - dark
	C3C4C8 - med dark

	slight border radius.
*/

$colorNotice: #a8c5e1;
$colorError: #d62222;
$colorInfo: #2694dd;
$colorSuccess: #5baa86;

$colorBackground: #FAFCFB;

/* TYPOGRAPHY	================================================================== */
$colorParagraph: #3e3e3e;
$colorLink: #009ff4;

/* RESPONSIVE	================================================================== */
$mediaMobilePortrait: 320px;  
$mediaMobileLandscape: 480px;
$mediaTabletPortrait: 768px;
$mediaTabletLandscape: 1024px;
$mediaDesktop: 1224px;