/* COLORS	================================================================== */
$colorPrimary: #a8c5e1;
$colorLight: #fdfdfd;
$colorDark: #021721;

$colorNotice: #a8c5e1;
$colorError: #d62222;
$colorInfo: #2694dd;
$colorSuccess: #74d7ab;

$colorBackground: #fbf9fc;

/* TYPOGRAPHY	================================================================== */
$colorParagraph: #3e3e3e;
$colorLink: #009ff4;

/* RESPONSIVE	================================================================== */
$mediaMobilePortrait: 320px;  
$mediaMobileLandscape: 480px;
$mediaTabletPortrait: 768px;
$mediaTabletLandscape: 1024px;
$mediaDesktop: 1224px;