/* COLORS	================================================================== */
$colorPrimary: #009ff4;
$colorLight: #f5f5f5;
$colorDark: #021721;

$colorNotice: #ffc700;
$colorError: #d62222;
$colorInfo: #2694dd;
$colorSuccess: #2dd751;

$colorBackground: #fbf9fc;

/* TYPOGRAPHY	================================================================== */
$colorParagraph: #3e3e3e;
$colorLink: #009ff4;

/* RESPONSIVE	================================================================== */
$mediaMobilePortrait: 320px;  
$mediaMobileLandscape: 480px;
$mediaTabletPortrait: 768px;
$mediaTabletLandscape: 1024px;
$mediaDesktop: 1224px;