/* COLORS	================================================================== */
$colorPrimary: #39a2e1;
$colorLight: #fdfdfd;
$colorDark: #303030;

$colorNotice: #fef9d3;
$colorError: #fee7ea;
$colorInfo: #fef9d3;
$colorSuccess: #f7fff5;

$colorBackground: #f7f7f7;

/* TYPOGRAPHY	================================================================== */
$colorParagraph: #3e3e3e;

/* RESPONSIVE	================================================================== */
$mediaMobilePortrait: 320px;  
$mediaMobileLandscape: 480px;
$mediaTabletPortrait: 768px;
$mediaTabletLandscape: 1024px;
$mediaDesktop: 1224px;