@import "reset";
@import "variables";
@import "mixins";
@import "structure";
@import "buttons";
@import "typography";
@import "forms";

/*
@import "tables";
@import "modal";
*/

.floatleft { float: left; }
.floatright { float: right; }
.clearfix { @include clearfix(); }
.center { text-align: center; }

body {
	background-color: $colorBackground;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px; // 1em;
}

header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	@include gradient($colorBackground, darken($colorBackground,1%));
	border-bottom: 1px solid darken($colorLight, 6%);
	// @include box-shadow(0, 1px, 1px, 0, darken($colorLight, 0%));
	// @include gradient($colorLight, darken($colorLight, 6%));
	.wrapper {
		padding: 7px 10px;
		@include clearfix();
		@include respond-to(desktop) {
			margin: 0 auto;
			width: $mediaTabletLandscape;
		}
		@include respond-to(tablet-landscape) {
			margin: 0 auto;
			width: $mediaTabletPortrait;
		}
		@include respond-to(mobile) {

		}
	}
	h1 {
		width: 50%;
		margin-left: 25%;
		text-align: center;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	}
}

#stage {
	position: relative;
	padding: 60px 20px 20px;
	width: auto;
	@include respond-to(desktop) {
		margin: 0 auto;
		width: $mediaTabletLandscape;
	}
	@include respond-to(tablet-landscape) {
		margin: 0 auto;
		width: $mediaTabletPortrait;
	}
	@include respond-to(mobile) {

	}
	@include clearfix();
}

#mainTitle {
	padding: 0 0 20px;
	h1 {
		margin: 0 0 20px;
		text-align: center;
		font-size: 40px;
		color: darken($colorPrimary, 30%);
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
	}
	h2 {
		margin: 0;
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
		color: $colorDark;
	}
	p {
		margin: 10px auto;
		width: 80%;
		text-align: center;
		line-height: 1.4em;
	}
}

#bracket {
	@include clearfix();

	.playerList {

		h3 {
			float: left;
		}
		li {
			@include clearfix;
			.options {
				float: right;
			}
			.listRemove {
				margin: 5px;
				width: 16px;
				height: 16px;
				background: transparent url('/public/img/close-med.png') center center no-repeat;
				opacity: .2;
				@include hideText();
			}
		}
	}

	.round {
		position: relative;
		float: left;
		width: 23%;
		padding: 1%;
		@include clearfix();
		
		@include respond-to(mobile) {
			float: none;
			width: 100%;
		}
		.title {
			text-align: center;
		}
		.match {
			margin: 15px 0 25px;
			@include box-shadow(0,1px,3px,0,#d4d4d4);
			&.complete {
				opacity: .3;
			}
			&:hover {
				opacity: 1;
			}
			.emptyMatch {
				padding: 30px 10px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: .7em;
				font-weight: bold;
				background-color: #ffffff;
			}
			.side {
				padding: 30px 7px;
				background-color: #ffffff;
				h3 { 
					margin: 0 0 10px;
					font-size: 10px;
					text-align: center;
					font-weight: normal;
					text-transform: uppercase;
					letter-spacing: .2em;
					color: #4a4a4a;
				}
				p {
					font-size: 14px;
					text-align: center;
				}
				&.unassigned {
					opacity: .4;
				}
				&.away {
					border-top: 1px solid #ededed;
				}
				&.home {

				}
				&.winner {
					padding: 25px 7px;
					background-color: #eaffff;
				}
				&.loser {
					padding: 10px 7px;
					background-color: #f9f5f8;
					h3 {
						color: #d7d3d6;
					}
					p {
						color: #d7d3d6;
					}
				}
			}
		}	
	}

	#winner {
		padding: 12px 0;
		text-align: center;
		background-color: #eaffff;
		border-bottom: 1px solid #c9e0e7;
	} 
}
#createBracketPlayerForm {
	@include clearfix();
	fieldset:first-child {
		margin-right: .5em;
	}
}
